.restaurante-box .precio{
    color: white;
    background: green;
    font-size: 14px;
    padding: 5px;
    box-shadow: 2px 2px #016B01;
    text-align: center;
    width: 200px;
}

.restaurante-box .direccion{
    color: gray;
    
}